body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3D85B8;
  color: white;
  font-family: Helvetica; }

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0; }
  ul > li {
    margin-right: 0.5em; }
    ul > li:after {
      content: " \00b7"; }
    ul > li:last-child:after {
      content: none; }
