<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href="style.css" rel="stylesheet">
</head>

<body>
  <h1>Pinball with P5.js and Planck.js</h1>
  <script type="module" src="app.js"></script>
</body>
</html>
