$background-color: #3D85B8;
$color: white;

body {
  // center vertically
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background-color;
  color: $color;
  font-family: Helvetica;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  > li {
    margin-right: 0.5em;
    &:after {
      content: " \00b7";
    }
    &:last-child:after {
      content: none;
    }
  }
}
